.main {
  padding-top: 30px;
  background-color: #eceff1;
  display: flex;
  justify-content: center;
}

.gallery {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.photo-card {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 10px;
  width: 273px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__image {
    width: 250px;
    height: 167px;
  }
}

.info {
  display: flex;
}
